<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout (~{::title}, ~{::body})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SimpleBoard :: NewPost</title>
    <meta charset="UTF-8">
</head>
<body>
<section>
    <form class="createForm" th:action="@{/post/write}" th:object="${postRequest}" th:method="POST">
        <div class="mb-3">
            <input type="hidden" id="userId" th:field="*{userId}">
            <select id="boardId" th:field="*{boardId}" class="form-select">
                <option value="0">게시판 선택</option>
                <option value="1">시</option>
                <option value="2">수필</option>
                <option value="3">소설</option>
            </select>
            <div th:if="${errors?.containsKey('boardId')}">
                <p class="field-error" th:text="${errors['boardId']}">게시판 오류 메시지</p>
            </div>

            <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="제목">
            <div th:if="${errors?.containsKey('title')}">
                <p class="field-error" th:text="${errors['title']}">제목 오류 메시지</p>
            </div>
            <textarea type="text" class="form-control" id="content" th:field="*{content}" rows="10"></textarea>
            <div th:if="${errors?.containsKey('content')}">
                <p class="field-error" th:text="${errors['content']}">내용 오류 메시지</p>
            </div>
            <button class="btn btn-primary createPost" type="submit">완료</button>
        </div>
    </form>
</section>
<script src="/js/jquery-3.7.0.js"></script>
<script src="/js/post.js"></script>
</body>
</html>