<!doctype html>
<html th:fragment="layout (title, body)" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="${title}">Simple-Board</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge;chrome=1">
    <script defer src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<header>
    <h2><a th:href="@{/}">SIMPLE BOARD</a></h2>
</header>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<body th:replace="${body}">


</body>

<footer>
    <p>서비스 이용약관 | 개인정보 보호정책 | 청소년 보호정책</p>
    <p>Copyright ©BOARD All rights reserved.</p>
</footer>

</html>