body {
    background-color: lightslategray;
}

section {
    background-color: olivedrab;
    width: 1024px;
}

.text-size-sub {
    font-size: 0.8rem;
}

header {
    background-color: palevioletred;
}

nav {
    background-color: mediumorchid;
}


footer {
    background-color: darkcyan;
}