body {
    /*background-color: lightslategray;*/
    margin-top: 2rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

section {
    /*background-color: olivedrab;*/
}

.text-size-sub {
    font-size: 0.8rem;
}

header {
    /*background-color: palevioletred;*/
    text-align: center;
}

nav {
    /*background-color: mediumorchid;*/
}


footer {
    /*background-color: darkcyan;*/
    text-align: center;
}

.field-error {
    border-color: orangered;
    color: darkred;
}