<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>새 글 작성</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/post.css}"
          href="../static/css/post.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1 name="title" th:text="${post.title}">this is Lorem ipsum</h1>
    </div>
    <div class="content" th:text="${post.content}">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, architecto dignissimos eius eveniet facere
            facilis hic iste magnam minima molestias mollitia perferendis perspiciatis quas quidem rem repudiandae
            tempore voluptatibus voluptatum?</p>
    </div>
    <hr>
    <div class="buttons">
        <form action="index" th:action="@{/{postId}/delete(postId=${post.id})}" th:method="delete">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit" style="background-color: palevioletred">
                삭제
            </button>
        </form>
        <button type="button"
                th:onclick="|location.href='@{/{postId}/edit(postId=${post.id})}'|"
                onclick="location.href='editForm.html'">수정
        </button>
        <button type="button"
                th:onclick="|location.href='@{/}'|"
                onclick="location.href='index.html'">목록
        </button>
    </div>
</div>
</body>
</html>